@import './defs.scss';

html, body {
  min-height: 100vh;
}

body {
  font-family: "Lato";
  font-weight: 300;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
  font-weight: 400;
}

a {
  &:link, &:visited {
    color: $link-color;
    text-decoration: none;

    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
  }

  &:hover {
    color: $link-hover-color;
  }
}

pre, code {
  font-family: 'Roboto Mono', monospace;
}

pre {
  &, & code {
    font-weight: 400;
  }
}

code {
  font-weight: 300;
}
